# Node modules folder in client and server
node_modules
/node_modules
**/node_modules

# Extra files and folders
/dist
/public
*.log
*.rdb
*.txt
*-lock.json
client/build

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix
.vscode/*
settings.json