.authentication {
  display: flex;
  align-items: center;
  height: 100vh;
  background-image: url("./auth.svg");
  background-size: 100% 100%;
  /* border-radius: 25px;
  box-shadow: chocolate; */
}
.authentication .ant-row {
  width: 100%;
  justify-content: center !important;
  /* border-radius: 25px;
  box-shadow: chocolate; */
}

.authentication form {
  background-color: white;
  padding: 20px;
  border-radius: 25px;
  box-shadow: 20px;
  box-shadow: chocolate;
}
