.bill-model-class.ant-modal {
  top: 5px;
  width: 100%!important;
  transform-origin: 85px 43px!important;
  overflow-y: auto;
  height: -webkit-fill-available;
}
.bill-model-class .ant-modal-body {
  padding: 5px;
}

.bill-model-class .ant-modal-content,
.bill-model-class .ant-modal-close-x,
.bill-model-class .ant-modal-header {
  background: #d1dcdc!important;
}
.ant-modal-header {
  border-bottom: unset!important;
  border-radius: unset!important;
}

/* -------------- FOR BOOK MODEL ------------------- */
.book-model-class.ant-modal {
  top: 10px;
}
.book-model-class .ant-modal-content,
.book-model-class .ant-modal-close-x,
.book-model-class .ant-modal-header {
  background: #d1dcdc!important;
}

.book-model-class .ant-modal-close-x {
  padding: 9px 20px 0px 0px;
  width: unset!important;
  height: unset!important;
  line-height: unset!important;
  color: rgba(0, 0, 0, 0.7);
}

.book-model-class .ant-modal-header {
  padding: 10px 24px;
  border: none!important;
}
.book-model-class .ant-modal-title,
.book-model-class label {
  color: rgba(0, 0, 0, 0.7);
}

.pwd-info-class {
  margin-top: -20px;
  font-size: 11px;
  color:rgba(0, 0, 0, 0.7);
}

.bill-model-class button,
.book-model-class button {
  background: #001529!important;
}